.background-container {
  
}

.ResultsAndPlayList{
  
  display: grid;
  grid-template-columns: 60% 25px 1fr;
  
  
  max-width: 1280px;
  min-height: 1000px;
  width:100%;
}




.Center{
  display:flex;
  justify-content:center;
  
 
  
}